@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid {
  background-color: #F5F5F5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='100' height='100' patternUnits='userSpaceOnUse' patternTransform='rotate(45) scale(0.8)'%3E%3Cg id='a' data-color='fill' fill='%23FFF'%3E%3Cpath d='M50-50h100V50H50z'%3E%3C/path%3E%3Cpath opacity='.5' d='M-50-50V50H50v100h100V-50z'%3E%3C/path%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html {
  scroll-behavior: smooth;
}

code {
  -webkit-font-smoothing: initial;
}

.sp-layout {
  max-height: 300px !important;
  overflow: auto !important;
}

.sp-wrapper {
  height: 100% !important;
}

.sp-stack {
  height: 100% !important;
}
