@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='%23f1f5f9'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

html {
  scroll-behavior: smooth;
}

code {
  -webkit-font-smoothing: initial;
}

.sp-layout {
  max-height: 300px;
  overflow: auto;
}

.sp-wrapper {
  height: 100% !important;
}

.sp-stack {
  height: 100% !important;
}
