---
const props = Astro.props;
---
<h1 {...props} class="group mt-8 text-3xl text-neutral-800 font-semibold scroll-mt-[1.25rem]">
  <a
    href={`#${props.id}`}
    class="group-hover:before:visible before:invisible before:content-['#'] before:text-purple-200 before:mr-1 before:-ml-6"
  >
    <slot />
  </a>
</h1>
